.btn {
    &,
    &:link,
    &:visited {
        text-decoration: none;
        display: inline-block;
        border-radius: 10rem;
        transition: all .2s;
        position: relative;
        font-size: $default-font-size;
        width: 22rem;
        height: 4rem;

        //Change for the <button> element
        border: none;
        cursor: pointer;
    }
    
    &:hover {
        background-color: #6ac4dd;
    }
    
    &:active,
    &:focus {
        outline: none;
        transform: translateY(-1px);
    }

    &--blue {
        background-color: $blue-color;
        color: $white-color;
        &::after {
            background-color: $blue-color;
        }
    }
    
    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }
    
    &--animated {
        animation: moveInBottom .5s ease-out .75s;
        animation-fill-mode: backwards;
    }
}

.btn-text {
    &:link,
    &:visited {
        font-size: $default-font-size;
        color: $white-color;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $blue-color;
        padding: 3px;
        transition: all .2s;
    }

    &:hover {
        background-color: $blue-color;
        color: $white-color;
        transform: translateY(-2px);
    }

    &:active {
        transform: translateY(0);
    }
}